<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="tools/phpunit.xsd"
  bootstrap="tests/bootstrap.php" backupGlobals="false" cacheResult="false" colors="true"
  testdox="true" cacheDirectory=".var/cache/phpunit">
  <coverage>
    <report>
      <clover outputFile=".var/cache/phpunit/cov.xml" />
      <text outputFile="php://stdout" />
    </report>
  </coverage>
  <testsuite name="main">
    <directory>tests</directory>
  </testsuite>
  <logging />
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
